extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="Paris", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec posuere convallis lacinia. Curabitur ultricies, ipsum mollis sagittis suscipit, dui odio gravida orci, vel laoreet neque tellus commodo est. Vestibulum id luctus mi. Nulla et nunc cursus, facilisis erat ac, gravida turpis. Sed id metus mal

                p Nullam tincidunt mauris neque, posuere laoreet ligula egestas ac. Mauris fringilla, libero eget rhoncus imperdiet, elit enim hendrerit enim, non venenatis mauris nunc nec dolor. Donec vehicula erat felis, fringilla finibus nunc pulvinar nec. Mauris varius, enim efficitur pulvinar vestibulum, quam nulla venenatis eros, sed pharetra lacus

                p Nullam cursus lorem libero, quis suscipit mauris faucibus eu. Maecenas sit amet eleifend elit, interdum fermentum justo. Suspendisse et ligula ante. Ut vitae velit vel urna dapibus scelerisque nec vitae est. Sed ac tincidunt nibh. Praesent id nulla ac sem sollicitudin condimentum eu sed mauris. Suspendisse ph
    
    .listado-iconos 
        .container.mt-5.py-5.text-center
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="Seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p fend elit, interdum fermentum justo. Suspendisse et ligula ante. Ut vitae velit vel urna dapibus scelerisque nec vitae est. Sed ac tincidunt nibh. Praesent id nulla ac sem sollicitudin condimentum eu sed mauris. Suspendisse ph


                    
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="Seguridad", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p fend elit, interdum fermentum justo. Suspendisse et ligula ante. Ut vitae velit vel urna dapibus scelerisque nec vitae est. Sed ac tincidunt nibh. Praesent id nulla ac sem sollicitudin condimentum eu sed mauris. Suspendisse ph



                .col-md-4
                    img(src="img/icono_precios.svg", alt="Seguridad", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p fend elit, interdum fermentum justo. Suspendisse et ligula ante. Ut vitae velit vel urna dapibus scelerisque nec vitae est. Sed ac tincidunt nibh. Praesent id nulla ac sem sollicitudin condimentum eu sed mauris. Suspendisse ph